@media only screen and (max-width: 400px) {
    .blocks {
        display: inline-block;
        background: rgba(0,0,0,0.85);
        margin: 0.5rem 0.5rem;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid rgba(216,216,216,0.7);
        width: 20rem;
        height: 21rem;
    }

        .bikeBlock {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 16rem;
        margin: 15px;
        border-radius: 30px;
        transition: 0.3s;
        flex-grow: 3;
        opacity: 0.7;
    }
}

@media only screen and (min-width: 401px) and (max-width: 699px) {
    .blocks {
        display: inline-block;
        background: rgba(0,0,0,0.85);
        margin: 1rem 1rem;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid rgba(216,216,216,0.7);
        width: 24rem;
        height: 23.5rem;
    }

    .bikeBlock {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 13rem;
        width: 20rem;
        margin: 15px;
        border-radius: 30px;
        transition: 0.3s;
        flex-grow: 3;
        opacity: 0.7;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1080px) {
    .blocks {
        display: inline-block;
        background: rgba(0,0,0,0.85);
        margin: 0.5rem 0.5rem;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid rgba(216,216,216,0.7);
        width: 20rem;
        height: 21rem;
    }

    .bikeBlock {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 16rem;
        border-radius: 30px;
        transition: 0.3s;
        flex-grow: 3;
        opacity: 0.7;
    }
}

@media only screen and (min-width: 1081px) {
    .blocks {
        display: inline-block;
        background: rgba(0,0,0,0.85);
        margin: 1rem 1rem;
        padding: 10px;
        border-radius: 30px;
        border: 2px solid rgba(216,216,216,0.7);
        width: 25rem;
        height: 24.5rem;
    }

    .bikeBlock {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 22rem;
        border-radius: 30px;
        transition: 0.3s;
        flex-grow: 3;
        opacity: 0.7;
    }
}


.bikeBlock:hover {
    transform: scale(1.05);
}

h1 {
    text-transform: capitalize;
    color: rgb(255,255,255);
}

a {
    text-decoration: none;
}

p {
    text-transform: capitalize;
    font-size: 120%;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #D8D8D8;
    opacity: 0.9;
}

.info h3 {
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.info p {
    margin: 0;
    font-size: 17px;
}
